body {
  padding: 16px;
}
img {
  border-radius: 50%;
}
.container {
  display: flex;
  align-items: center;
}
.name {
  font-size: 36px;
  margin-left: 20px;
  flex: 1;
}
.blog {
  margin-right: 8px;
  font-size: 24px;
}
.about {
  font-size: 24px;
}
.hello {
  font-size: 144px;
  text-align: center;
  margin-top: 96px;
}
.welcome {
  font-size: 48px;
  text-align: center;
  margin-top: 48px;
}
.somali {
  font-size: 20px;
  text-align: center;
  margin-top: 48px;
}
.email {
  font-size: 25px;
  text-align: center;
  background-color: coral;
  border-radius: 24px;
  border-color: black;
  border-style: dotted;
  border-width: 5px;
  margin-top: 48px;
}
